VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_AMAP_KEY=
VITE_AMAP_SECURITY_JS_CODE=
VITE_EXECUTION_SERVICE_URL=http://127.0.0.1:4310
VITE_MQTT_GATEWAY_URL=http://127.0.0.1:4320
VITE_WIFI_DEMO_DEVICE_ID=056a8469-09d5-40d5-8e26-e64c1093263b
VITE_WIFI_DEMO_STATIONS=0:站点1,1:站点2
