SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
EXECUTION_SCHEDULER_ENABLED=true
EXECUTION_SCHEDULER_POLL_MS=30000

WIFI_DEMO_MQTT_HOST=broker.hyecosmart.com
WIFI_DEMO_MQTT_PORT=9883
WIFI_DEMO_MQTT_ACCOUNT=
WIFI_DEMO_MQTT_USER_ID=
WIFI_DEMO_MQTT_PASSWORD=
WIFI_DEMO_DEVICE_ID=
WIFI_DEMO_CA_CERT_PATH=../certs/hyecosmart-ca.der
WIFI_DEMO_CLIENT_CERT_PATH=../certs/hyecosmart-client.p12
WIFI_DEMO_CLIENT_CERT_PASSPHRASE=

# Optional overrides
# MQTT_GATEWAY_BASE_URL=http://127.0.0.1:4320
# EXECUTION_DURATION_SCALE=1
# EXECUTION_STATUS_POLL_MS=2000
# WIFI_DEMO_TOPIC_PREFIX=wc800wf
# WIFI_DEMO_TOPIC_DEVICE_INFO=/101/
# WIFI_DEMO_TOPIC_DEVICE_INFO_REPLY=/101r/
# WIFI_DEMO_TOPIC_DEVICE_CONTROL=/104/
# WIFI_DEMO_TOPIC_DEVICE_CONTROL_REPLY=/104r/
# WIFI_DEMO_TOPIC_DEVICE_INFO_UPDATE=/106/
